@import "tailwindcss";

@font-face {
  font-family: 'MontRegular';
  src: url('/Fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontMedium';
  src: url('/Fonts/montserrat-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontBold';
  src: url('/Fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontBlack';
  src: url('/Fonts/mont-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #f0f0f0;
  --foreground: #008b48;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "MontRegular";
  font-size: 0.8rem;
}
